@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;
	background-color: white;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.scrollbar-none {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
